<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="music">
    <select id="Select" parameterType="string" resultType="MusicVO">
        SELECT * FROM music 
    </select>
    
        <select id="SelectById" parameterType="int" resultType="MusicVO">
   		SELECT * FROM music where id=#{id} 
    </select>
    
    <insert id="Insert" parameterType="MusicVO" useGeneratedKeys="true" keyProperty="list_id">
        INSERT INTO music (title, artist, url) VALUES ( #{title}, #{artist}, #{url})
    </insert>
    
    <update id="Update" parameterType="MusicVO" >
        UPDATE music SET title=#{title}, artist=#{artist},url=#{url} WHERE id=#{id}  
    
    </update>
    
    <delete id="Delete" parameterType="int">
      DELETE from music WHERE id= #{id}
    
    </delete>
    
    
</mapper>